.images {
    width: 100%; 
    height: auto; 
}
/* .initial_photo {
    position: relative; 
} */

.initial_photo--right .initial_photo__image {
    position: absolute;
    right: 0;
    top: 0;
}

.position-container{
    display: flex;
}


